<header>
<<<<<<< HEAD
  <nav id="navbar-nav">
    <a id="home-button" href="/">Friday</a>
=======
  <nav class="navbar-nav">
    <a id="home-button" href="/">Pineapple</a>
>>>>>>> db898442f56c832291a068e491859710b217f233
    <img src="/images/drunk.png" alt="Profile Picture" id="logo-pic" />
    <img src="/images/pineapple.png" alt="Profile Picture" id="logo-pic" />
    <img src="/images/sunbathing.png" alt="Profile Picture" id="logo-pic" />

    <a id="create-button" href="/events/new">Create new event</a>
  </nav>
  <div>
    <a href="https://www.flaticon.com/authors/freepik" title="Freepik"></a>

    <a
      href="https://www.flaticon.com/"
      is
      licensed
      by
      <a
      href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0"
      target="_blank"
    ></a>
  </div>
</header>
