<header>
  <nav>
    <a href="/">Pineapple</a>
    <div>
      <div class="navbar-nav">
        <a href="/events/:public_slug">Edit</a>
        <a href="/events/new">Create</a>
      </div>
    </div>
  </nav>
</header>
