<header>
  <div class="header">
    <a href="/" class="logo">PINEAPPLE</a>

    <img class="pineapple-img" src="/images/pineapple.png" />

    <div class="header-right">
      <a href="/events/new">Create</a>
    </div>
  </div>
</header>
