<header>
  <nav class="navbar-nav">
    <a id="home-button" href="/">Friday</a>
    <img src="/images/pineapple.png" alt="Profile Picture" id="logo-pic" />
    <a id="create-button" href="/events/new">Create new event</a>
  </nav>
</header>
