<header>
  <div class="header">
    <a href="/" class="logo">PINEAPPLE</a>

    <img
      class="pineapple-img"
      src="https://t4.ftcdn.net/jpg/01/59/79/01/240_F_159790169_vDiz2RFB1sYMv2FQY7bf9t6ifQsvqeZc.jpg"
    />

    <div class="header-right">
      <a href="/events/new">Create</a>
    </div>
  </div>
</header>
