.admin-top-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10em;
  font-size: 22px;
}

.step-buttons {
  width: 150px;
  height: 150px;
}
// .number-two {
//   padding-left: 560px;
// }

.admin-page-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  p {
    font-size: 35px;
  }
}
.form-check-label {
  font-size: 20px;
}

.form-box-final {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1em;
}

.admin-down-button {
  margin-top: 0px;
  width: 100px;
  height: 100px;
}

.check-button {
  width: 20px;
  height: 20px;
}

.time-slots-check-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  justify-content: space-between;
  p {
    font-size: 35px;
  }
}

.admin-rsvp-table {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 300px;
}
