html {
  scroll-behavior: smooth;
 }

.admin-top-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10em 10em 0em 10em;
  font-size: 22px;
  scroll-behavior: smooth;
}

.admin-form-img {
  width: 150px;
  height: 150px;
}

.admin-page-msg {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 35px;
}

.form-box-final {
  padding: 0.5em;
  padding-bottom: 1.5em;
}

.time-slots-check-box {
  display: flex;
  justify-content: space-between;
}
.form-check {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.attendee-box {
  padding-bottom: 5em;
  padding-left: 15em;
  padding-right: 15em;
  font-size: 20px;
}

#panel, #flip {
  padding: 5px;
  text-align: center;

}

#panel {
  padding: 50px;
  display: none;
}
