
.main-header {
  height: 100%;
  position: relative;
}

.container {
  max-width: 50%;
}

.container {
  max-width: 50%;
}

.create-button {
    display: flex;
    align-items: center;
    margin: 0 auto;

}
