// See: https://sass-lang.com/

* {
  border: 1px solid red;
}

body {
  background-color: #eee;

  h1 {
    color: #244751;
  }
}

// #calendar {
//   @import "https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css";
//   @import "https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/themes/dark.css";
// }
