<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>EVENTS ADMIN EDIT PAGE</h1>

    <div><textarea class="Title">Title</textarea></div>

    <div><textarea class="Location">Location</textarea></div>

    <div><textarea class="Description">Description</textarea></div>

    <div>
      <img
        src="https://ugcorigin.s-microsoft.com/100/94bc52ad-c2fb-429b-abf6-52fd4ce103a4/200/v3/image.jpg"
      />
    </div>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
