<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Event</title>

    <!-- includes styles/scripts from index.ejs file -->
    <% include ./partials/_index %>
  </head>

  <body>
    <% include partials/_header %>

    <h1>FORM CREATION PAGE</h1>
    <p>title, description, location</p>
    <h2>DROP DOWN</h2>
    <p>calendar</p>
  </body>
</html>
