<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Check Available Times</title>

    <!-- includes styles/scripts from index.ejs file -->
    <% include ./partials/_index %>
  </head>

  <body>
    <% include partials/_header %>

    <h1>PUBLIC EVENT PAGE</h1>
  </body>
</html>
