<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>DASHBOARD FOR EVENT RESULTS</h1>



    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
