<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLinks %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>DASHBOARD FOR EVENT RESULTS</h1>

    <div>
      <h5>Description</h5>

      <textarea class="Title"><%= events.userEvent%></textarea>
    </div>

    <div><textarea class="Location"><%= events.address %></textarea></div>

    <div>
      <textarea class="Description"><%= events.eventDescription %></textarea>
    </div>

    <div></div>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
