<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit Event</title>

    <!-- includes styles/scripts from index.ejs file -->
    <% include ./partials/_index %>
  </head>

  <body>
    <h1>ADMIN / EDIT EVENT PAGE</h1>
  </body>
</html>
