<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>New Events</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External Links -->
    <% include ./partials/_indexLinks %>
  </head>

  <body class="events-new">
    <header>
      <% include ./partials/_header %>
    </header>
    ​
    <!-- /* Move all the styling over to the SCSS FILE, these are just here for visual purposes */ -->
    <main class="event-information-container">
      <form class="form-button" action="/events" method="POST">
        <div class="eventInfo">
          <h2>Event Information</h2>
          <img src ="/images/neonpencil.png">
        </br>
          <label for="name" class="pencil-img">First Name Last Name</label>
          <input
            class="form-control"
            type="userName"
            name="userName"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="email">Email</label>
          <input
            class="form-control"
            type="userEmail"
            name="userEmail"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="title">Event Title</label>
          <input
            class="form-control"
            type="userEvent"
            name="userEvent"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: em; margin-bottom: 1em"
          />
          <label for="description"> Event Description</label>
          <input
            class="form-control"
            type="eventDescription"
            name="eventDescription"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="location">Event Location</label>
          <input
            class="form-control"
            type="eventLocation"
            name="eventLocation"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>
      </div>

      <!-- Calendar Div -->
      <div class='calendar'>
        <section
        class="time_slots"
        style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        >
        <img src="/images/clock.png" class = "clock-img">
        <section
          id="add"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        ></section>
        <button
          id="add_time"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        >
          + TIMES
        </button>
      </section>
      </div>



      <!-- Calendar Div -->
      <div class='invites'>
        <h2> Invite Attendees </h2>
        <img src="/images/mailbox.png" class="mailbox-img">
          <section class='email_slots'>
            <section id='add_mail'></section>
            <button id='add_email' class = "button-style">+ Add More Invites</button>
          </section>
      </div>


      <button type="submit" class="invite-button">Submit</button>
      </form>
    </main>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %> ​
    <!-- Client side jquery for calendar -->
    <script>
      addTimes();
      addEmail();
    </script>
  </body>
</html>
