<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Admin Events</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External Links -->
    <% include ./partials/_indexLinks %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div>
      <h1>EVENTS ADMIN EDIT PAGE</h1>
    </div>
    <div>
      <textarea class="title"><%= name %></textarea>

      <textarea class="location"><%= address %></textarea>

      <textarea class="description"><%= description %></textarea>
    </div>
    <div>
      <img
        src="https://ugcorigin.s-microsoft.com/100/94bc52ad-c2fb-429b-abf6-52fd4ce103a4/200/v3/image.jpg"
      />
    </div>
    <div>
      <h1>Comments Area</h1>
      <form action="/events" method="POST">
        <div>
          <textarea
            name="comments"
            id="comments"
            style="font-family:sans-serif;font-size:1.2em;"
          >
        Hey... say something!
        </textarea
          >
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
