<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Event</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    <!-- /* Move all the styling over to the SCSS FILE, these are just here for visual purposes */ -->
    <main class="event-information-container" style="margin: 1em;">
      <div>
        <h3>Event Information</h3>
        <form action="/events/new" method="POST">
          <div>
            <label for="name">First Name Last Name</label>
            <input
              class="form-control"
              type="userName"
              name="userName"
              placeholder="Enter here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
          </div>
          <div>
            <label for="email">Email</label>
            <input
              class="form-control"
              type="userEmail"
              name="userEmail"
              placeholder="Enter here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
          </div>
          <div>
            <label for="title">Event Title</label>

<<<<<<< HEAD
            <input
              class="form-control"
              type="userEvent"
              name="userEvent"
              placeholder="Enter here"
              style="width: 300px; margin: 0em; margin-top: em; margin-bottom: 1em"
            />
          </div>
          <div>
            <label for="description"> Event Description</label>
            <input
              class="form-control"
              type="eventDescription"
              name="eventDescription"
              placeholder="Enter here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
          </div>
          <div>
            <label for="location">Event Location</label>
            <input
              class="form-control"
              type="eventLocation"
              name="eventLocation"
              placeholder="Enter here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Continue</button>
          </div>
        </form>
      </div>
      <div>
        <form action="/events/new" method="POST">
          <h3>DROP DOWN EFFECT - Calendar -</h3>
          <h2>
            <img
              src="https://raw.githubusercontent.com/nathanreyes/v-calendar-docs/master/gitbook/images/README/welcome-1.png"
            />
          </h2>
          <button type="submit" class="btn btn-primary">Continue</button>
        </form>
      </div>
      <div>
        <h3>DROP DOWN EFFECT - Who Do You Want To Invite? -</h3>
        <form>
          <div>
            <label for="invites">Invite Attendees</label>
            <input
              class="form-control"
              type="invites"
              name="invites"
              placeholder="Enter email here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
            <input
              class="form-control"
              type="invites"
              name="invites"
              placeholder="Enter email here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
            <input
              class="form-control"
              type="invites"
              name="invites"
              placeholder="Enter email here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
            <input
              class="form-control"
              type="invites"
              name="invites"
              placeholder="Enter email here"
              style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
            />
            <button type="submit" class="btn btn-primary">Continue</button>
          </div>
        </form>
      </div>
=======
        <div>
          <h1>DROP DOWN EFFECT Calendar</h1>

          <form method="POST" action='/'>
            <input type="text" id="pick_date" placeholder="Please select Date Time">


            <section class='time_slots'>
                <p>Jul-25-2019</p>
                <input type='text' id='start_time' placeholder='start time'>
                <input type='text' id='end_time' placeholder='end time'>
            </section>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <!-- /* Move all the styling over to the SCSS FILE, these are just here for now */ -->

        <div>
          <h1>DROP DOWN EFFECT <b>INVITES</b></h1>
          <label for="invites">Invites</label>
          <input
            class="form-control"
            type="text"
            name="invites"
            placeholder="Enter Email Here"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
>>>>>>> calendar
    </main>
    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>

    <!-- Client side jquery for calendar -->
    <script>
      $("#pick_date").flatpickr({
        mode: "multiple",
        inline: true,
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        "disable": [
          function(date) {
            let today = new Date();
              today.setHours(0,0,0,0);
              return (date < today); //disable past dates >> return true to disable
          }
        ]
      });

      $("#start_time").flatpickr({
        inline: true,
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
      });

      $("#end_time").flatpickr({
        inline: true,
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
      });
    </script>

  </body>
</html>
