<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create Event</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>Create Your Event</h1>
    <p>Title, Description, Location</p>
    <button>Submit</button>

    <h2>DROP DOWN</h2>
    <p>calendar</p>
    <button>Submit</button>

    <h3>INVITES</h3>
    <button>Submit</button>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
