<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Information -->
  <title>New Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <!-- External Links -->
  <% include ./partials/_indexLinks %>
</head>

  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <!-- /* Move all the styling over to the SCSS FILE, these are just here for visual purposes */ -->
    <main class="event-information-container" style="margin: 1em;">
      <form action="/events" method="POST">
      <div>
        <h3>Event Information</h3>

        <div>
          <label for="name">First Name Last Name</label>
          <input
            class="form-control"
            type="userName"
            name="userName"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>

        <div>
          <label for="email">Email</label>
          <input
            class="form-control"
            type="userEmail"
            name="userEmail"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>

        <div>
          <label for="title">Event Title</label>
          <input
            class="form-control"
            type="userEvent"
            name="userEvent"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: em; margin-bottom: 1em"
          />
        </div>

        <div>
          <label for="description"> Event Description</label>
          <input
            class="form-control"
            type="eventDescription"
            name="eventDescription"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>

        <div>
          <label for="location">Event Location</label>
          <input
            class="form-control"
            type="eventLocation"
            name="eventLocation"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>
      </div>

      <div class='calendar'>
        <h3> (DROP DOWN) Choose Dates & Times </h3>

          <section class='time_slots'>
            <section id='add'></section>
            <button id='add_time'>+ Add More Times</button>
          </section>
      </div>

      <div>
        <h3>DROP DOWN EFFECT - Who Do You Want To Invite? -</h3>

        <div>
          <label for="invites">Invite Attendees</label>
          <input
            class="form-control"
            type="invites"
            name="invites"
            placeholder="Enter email here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <input
            class="form-control"
            type="invites"
            name="invites"
            placeholder="Enter email here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <input
            class="form-control"
            type="invites"
            name="invites"
            placeholder="Enter email here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <input
            class="form-control"
            type="invites"
            name="invites"
            placeholder="Enter email here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>
      </div>

      <div>
        <h1>DROP DOWN EFFECT <b>INVITES</b></h1>

        <label for="invites">Invites</label>
        <input
          class="form-control"
          type="text"
          name="invites"
          placeholder="Enter Email Here"
          style="width: 300px; margin: 1em"
        />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>




    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>

    <!-- Client side jquery for calendar -->
    <script>
      addTimes();
    </script>

  </body>
</html>
