<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Admin Events</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External Links -->
    <% include ./partials/_indexLinks %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div>
      <h1>EVENTS ADMIN EDIT PAGE</h1>
    </div>
    <div>
      <textarea class="title">Title</textarea>

      <textarea class="location">Location</textarea>

      <textarea class="description">Description</textarea>
    </div>



    <!-- Div for the choosing availability table -->
    <div>

      <table border="1" style="width:100%">
        <caption>Choose your time availability</caption>
          <tr>
            <th>Name:</th>
            <th>Time Slot 1</th>
            <th>Time Slot 2</th>
            <th>Time Slot 3</th>
          </tr>
          <tr>
            <td>Guest (form to enter name&email)</td>
            <td><input type='checkbox' name='id 1' value='T/F'></td>
            <td><input type='checkbox' name='id 2' value='T/F'></td>
            <td><input type='checkbox' name='id 3' value='T/F'></td>
          </tr>
      </table>

    </div>

    <!-- Div for the showing availability table with users -->
    <div>

      <table border="1" style="width:100%">
        <tr>
          <th>Name:</th>
          <th>Time Slot 1</th>
          <th>Time Slot 2</th>
          <th>Time Slot 3</th>
        </tr>
        <tr>
          <td>Guest 1 Name</td>
          <td>T</td>
          <td>T</td>
          <td>F</td>
        </tr>
        <tr>
          <td>Guest 2 Name</td>
          <td>T</td>
          <td>F</td>
          <td>F</td>
        </tr>
          <tr>
            <td>Guest 3 Name</td>
            <td>F</td>
            <td>T</td>
            <td>T</td>
          </tr>
      </table>

    </div>



    <div>
      <h1>Comments Area</h1>
      <form action="/events" method="POST">
        <div>
          <textarea
            name="comments"
            id="comments"
            style="font-family:sans-serif;font-size:1.2em;"
          >
        Hey... say something!
        </textarea
          >
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
