<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Check Available Times</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>PUBLIC EVENT PAGE</h1>



      <!-- includes Bootstrap/JQuery JS -->
      <% include ./partials/_indexScripts %>
  </body>
</html>
