<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>New Events</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <!-- External Links -->
    <% include ./partials/_indexLinks %>
  </head>

  <body class="events-new">
    <header>
      <% include ./partials/_header %>
    </header>
    ​
    <!-- /* Move all the styling over to the SCSS FILE, these are just here for visual purposes */ -->
    <main class="event-information-container">
      <form class="form-button" action="/events" method="POST">
        <div class="eventInfo">
          <h2>Event Information</h2>
          <label for="name">First Name Last Name</label>
          <input
            class="form-control"
            type="userName"
            name="userName"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="email">Email</label>
          <input
            class="form-control"
            type="userEmail"
            name="userEmail"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="title">Event Title</label>
          <input
            class="form-control"
            type="userEvent"
            name="userEvent"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: em; margin-bottom: 1em"
          />
          <label for="description"> Event Description</label>
          <input
            class="form-control"
            type="eventDescription"
            name="eventDescription"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
          <label for="location">Event Location</label>
          <input
            class="form-control"
            type="eventLocation"
            name="eventLocation"
            placeholder="Enter here"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          />
        </div>
        <section
          class="time_slots"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        >
          <section
            id="add"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          ></section>
          <button
            id="add_time"
            style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
          >
            + TIMES
          </button>
        </section>

        <label for="invites"><h2>Invite Attendees</h2></label>
        <input
          class="form-control"
          type="invites"
          name="invites"
          placeholder="Enter email here"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        />
        <input
          class="form-control"
          type="invites"
          name="invites"
          placeholder="Enter email here"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        />
        <input
          class="form-control"
          type="invites"
          name="invites"
          placeholder="Enter email here"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        />
        <input
          class="form-control"
          type="invites"
          name="invites"
          placeholder="Enter email here"
          style="width: 300px; margin: 0em; margin-top: 0em; margin-bottom: 1em"
        />
        ​

        <button
          type="submit"
          class="invite-button"
          style="margin-top: 2em;
        margin-bottom: 2em"
        >
          Submit
        </button>
      </form>
    </main>

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %> ​
    <!-- Client side jquery for calendar -->
    <script>
      addTimes();
    </script>
  </body>
</html>
