<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- includes styles/scripts from index.ejs file -->
    <% include ./index %>
  </head>

  <body>
    <h1>PUBLIC EVENT PAGE</h1>
  </body>
</html>
