<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <!-- External Links -->
  <% include ./partials/_indexLinks %>
</head>

<body>
    <div class="container">
      <form method="POST" action="/">
        <button type="submit" class="create-button">CREATE</button>
      </form>
    </div>
</body>
<% include ./partials/_indexScripts %>

</html>รง
