<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <!-- includes CSS/Bootstrap styles -->
    <% include ./partials/_indexLink %>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>HOME PAGE WITH 'CREATE' BUTTON ON PAGE</h1>
<<<<<<< HEAD
=======
    <div>
      <button>Create</button>
    </div>
>>>>>>> ed00224992763fa91a16050dd06df4d8b1c19f4f

    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
