<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <!-- External Links -->
    <% include ./partials/_indexLinks %>
  </head>
​
  <body>
    <!-- <header>
      <% include partials/_header %>
    </header>

    <h1>create an event with flex</h1> -->

    <form method="GET" action="events/new" class="form-box">
      <button type="submit" class="btn-btn-primary">
        Create New Event
      </button>
    </form>
    <!-- includes Bootstrap/JQuery JS -->
    <% include ./partials/_indexScripts %>
  </body>
</html>
